.address {
  font-style: normal;
}

.address-item {
  margin-bottom: 5px;
}

.address-item:last-child {
  margin-bottom: 0;
}

.address-link {
  font-weight: 400;
  color: $white-text-color;
}

.address-link[href^="mailto"],
.address-link[href^="tel"] {
  color: $white-opacity-text-color;
}

.address-link,
.address-link[href^="mailto"],
.address-link[href^="tel"] {
  transition: color $duration-time-function;
}

.address-link:hover,
.address-link:focus {
  color: $accent-text-color;
}