.footer {
  padding: 60px 0;
  background-color: $dark-background-color;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;

  font-family: $secondary-font;
  @include font(26px, 700, 1.2, 0.03em);
  color: $white-text-color;
}

.address {
  font-style: normal;
}

.address-item {
  margin-bottom: 5px;
}

.address-item:last-child {
  margin-bottom: 0;
}

.address-link {
  font-weight: 400;
  color: $white-text-color;
}

.address-link[href^="mailto"],
.address-link[href^="tel"] {
  color: $white-opacity-text-color;
}

.address-link,
.address-link[href^="mailto"],
.address-link[href^="tel"] {
  transition: color $duration-time-function;
}

.address-link:hover,
.address-link:focus {
  color: $accent-text-color;
}

.footer-socials .socials-icon {
  fill: $white-text-color;
}

.footer-socials-desc,
.footer-form-label {
  display: block;
  margin-bottom: 20px;

  @include font(14px, 700, 1.2, 0.03em);
  color: $white-text-color;
  text-transform: uppercase;
}

.footer-form-input {
  display: inline;
  @include boxSize(358px, 50px);
  padding: 15px 16px;
  margin-right: 9px;

  color: $white-text-color;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form-input::placeholder {
  @include font(16px, 400, 1.3, 0.03em);
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-btn {
  display: inline;
}

.email-icon {
  @include boxSize(24px, 24px);
  vertical-align: middle;
}