.modal {
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  @include boxSize(100vw ,100vh);

  background-color: rgba(0, 0, 0, 0.2);
}

.modal-form {
  position: absolute;

  width: 528px;
  padding: 40px 40px;

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: $primary-background-color;

  @include keyframes(fadeInDown) {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @include animation(fadeInDown, 3s);
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  @include boxSize(30px, 30px);

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $primary-background-color;

  cursor: pointer;
}

.modal-icon-close {
  @include boxSize(18px, 18px);

  fill: $logo-color;
  transition: fill $duration-time-function;
}

.modal-btn-close:hover .modal-icon-close,
.modal-btn-close:focus .modal-icon-close {
  fill: $accent-text-color;
}

.form-title {
  margin-bottom: 12px;

  text-align: center;
  @include font(20px, 700, 1.2, 0.03em);
}

.form-element {
  display: flex;
  flex-direction: column;
  width: 448px;
  margin-bottom: 10px;
}

.last-element {
  margin-bottom: 20px;
}

.form-element .form-input:focus+svg {
  fill: $accent-background-color;
}

.form-label {
  margin-bottom: 4px;

  @include font(12px, 400, 1.2, 0.01em);
  color: $primary-text-color;
}

.input-wrap {
  position: relative;
}

.form-input {
  @include boxSize(100%, 40px);
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  outline-offset: -1px;

  transition: outline $duration-time-function;

  cursor: pointer;
}

.form-input:focus {
  outline: 1px solid $accent-background-color;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  display: inline-block;
  @include boxSize(18px, 18px);

  translate: 0 -50%;
}

.textarea {
  min-height: 120px;
  padding: 12px 16px;

  resize: none;
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.form-checkbox-label,
.form-checkbox-link {
  @include font(14px, 400, 1.7, 0.03em);
}

.form-checkbox-label {
  display: flex;
  align-items: center;

  color: $primary-text-color;
}

.check-icon {
  display: inline;
  @include boxSize(16px, 15px);
  margin-right: 7px;

  fill: none;
  background-color: $primary-background-color;
  border: 2px solid $secondary-text-color;
  border-radius: 2px;

  cursor: pointer;
}

.form-checkbox:checked+.form-checkbox-label .check-icon {
  fill: $primary-background-color;
  background-color: $accent-background-color;
  border: 2px solid $accent-background-color;
}

.form-checkbox-link {
  margin-left: 7px;

  color: $accent-text-color;
}

.form-checkbox-link::after {
  content: "";

  display: block;
  @include boxSize(100%, 1px);

  background-color: $accent-background-color;

  translate: 0 -6px;
}