.socials {
  display: flex;
  align-items: center;
}

.socials-item {
  margin-right: 10px;
}

.socials-item:last-child {
  margin-right: 0;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  @include boxSize(44px, 44px);

  border-radius: 50%;
  background-color: rgb(255 255 255 / 10%);
}

.socials-icon {
  @include boxSize(20px, 20px);

  fill: $icon-color;
}

.socials-link,
.socials-link .socials-icon {
  transition: background-color $duration-time-function,
    fill $duration-time-function;
}

.socials-link:hover,
.socials-link:focus {
  background-color: $accent-background-color;
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: $white-text-color;
}